<style>
  label { width: 100px; vertical-align: middle;}
</style>

<h2>Edit a Place</h2>

<%= form_tag "/places/#{@place.id}", :method => "patch" do %>
  <div>
    <label>Place title:</label>
    <input type="text" value="<%= @place.title %>" name="title" size="30">
  </div>

  <div>
    <label>Photo URL:</label>
    <input type="text" value="<%= @place.photo_url %>" name="url" size="80">
  </div>
  
  <div>
    <label>Price:</label>
    <input name="price" value="<%= @place.price / 100.0 %>">
  </div>

  <div>
	<textarea name="desc" cols="80" rows="3"><%= @place.desc %></textarea>
  </div>
  
  <input type="submit" value="Submit">

<% end %>